@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
    src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "../../node_modules/periodicjs.component.selectfx/resources/stylesheets/component.selectfx.less";
@import "fullscreen-form.less";
